MANIFEST
__pycache__/
build/
dist/
screencast
ip.py
bib.png
list.txt
doc/*.html
pyarm_logs/
pyarm_figs/
pyarm.egg-info/
commands.dat
*.swp
*.pyc
*.pyo
*.log
*.aux
*.dvi
*.toc
*.lot
*.lof
*.out
*.pdf
*.ps
*.nav
*.snm
*.bbl
*.blg
*.ogv
